body {
  font-family: "Spartan", sans-serif;
  margin: 10px;
}
#root {
  width: 600px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  * {
    margin-top: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .taskform {
    width: 80%;
  }
}

